* {
  box-sizing: border-box;
}

body {
  background-color: #c3cfe2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 0 auto;
  text-align: center;
}

/* FLEXible portfolio grid */
.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  &__item {
    overflow: hidden;
    position: relative;
    width: 30%;
    margin: 25px auto;
    border-radius: 10px;

    & img {
      object-fit: cover;
      transition: transform 200ms ease-in-out;
      height: 100%;
      width: 100%;
    }

    &:hover img {
      transform: scale(1);
    }
  }
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #202544;
    color: white;
    transition: opacity 200ms ease-in-out;
    a {
      background-color: white;
      color: black;
      border-radius: 3px;
      margin-top: 20px;
      padding: 7px 15px;
      text-decoration: none;
    }
  }
  &__item:hover &__more {
    opacity: 100%;
  }
}

/* Media Queries */
@media (max-width: 960px) {
  .portfolio__item {
    width: 45%;
    margin: 12px auto;
  }
}

@media (max-width: 768px) {
  .portfolio__item {
    width: 100%;
    margin: 12px 12px;
  }
}
